.contenedorFotos{
    margin-top: 8vw;
    // background: #000000;

    .packFotos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 94%;
        margin: auto;
        margin-top: 2vw;
        justify-content: space-between;
    
        .card {
            width: 18vw;
            height: 18vw; 
            margin: auto;    
            display: flex;
            flex-direction: column;
            margin-bottom: 2vw;
     
            .fotoLibrary{
                align-items: center;
                margin: auto;  
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            .fotoLibrary:hover {
                cursor: pointer;
            }
        }
    }
}

.infoAlbumContainer {
    // background: red;
    display: flex;
    flex-direction: row-reverse;
    
    .infoAlbum {
        margin: .1vw 5vw 0vw auto;
        font-size: .9vw;
        font-weight: 300;
        color: #363636;
        font-style: oblique;

        .autorAlbum {
            text-decoration: none;
            color: #363636;
        }
    }
}